/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*==========================================================
                          GERAL
==========================================================*/
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(10px + 1vw);
}
a{
    color: black;
    text-decoration: none;
}
main {
    margin: 0 10vw 0 10vw;
}
/*==========================================================
                          TOPO
==========================================================*/
header {
    margin: 0vw 5vw 0 5vw;
}
header nav ul {
    display:flex ;
    justify-content: right;
    margin: 0px 5vw 0 0 ;
}
header nav ul li.topo {
    color: #553C16 ;
    margin: 0 20px 0 0;
    padding: 0 0 10vw 0;
    font-size: 0.7rem ;
}
header nav img {
   /* margin: 0 0 0 5vw ;*/
}
header nav {
    display: flex;
    justify-content: space-between;
    margin: 1vw 2vw 0 0;
}
header nav div {
    margin: 0 0 0 10vw ;
}
/*==========================================================
                        Meio
==========================================================*/
body section.um {
    display: flex;
    margin: 0 0 0 11vw ;
}
body section.um div h1 {
    font-size: 1.7rem ;
    margin: 6vw 0 4vw 0 ;
    border-width:#404852 ;
}
body section.um div.dois {
    margin: 0 0 0 15vw ;
}
body section.um div.dois p.tres {
    color: #404852 ;
    font-size: 0.8rem;
}
body section.um div.profile {
    display: flex;
    font-size: 0.6rem;
    margin: 2vw 0 0 0vw;
}
body section.um div.profile p.p2 {
    margin: 8px 0 0 19px;
    color: rgb(122, 120, 120);
}
body section.um div.profile p {
    margin: 0 0 0 19px;
}
body section.um div.img {
    margin: 0 0 0 4vw;
}
/*==========================================================
                        Rodapé
==========================================================*/
body section.rodape {
    display: flex;
}