/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Formata o documento html tirando todos os espaços, etc.*/

/*======================================================================
                                Geral
=======================================================================*/
body{
	margin: 1.5vw 20vw 2vw 20vw;
	font-family: 'Poppins', sans-serif;;
}
/*======================================================================
                                Header
========================================================================*/
header nav ul{
	display: flex;
}
header nav ul li.singUp a{
	margin: 0 0 0 30vw;
	
}
header nav ul li a{
	text-decoration: none;
	color: #553C16;
	padding: 0 10px 0 10px;
	font-family: 'Montserrat', sans-serif;
}
/*======================================================================
                                Main - Parte 1
========================================================================*/
main section {
	display: flex;
}
main section div.portfolio img{
	width: 18rem;
	margin: 7vw 2vw 2vw 0;
}
main section div ul li h1{
	font-size: 45px;
	margin: 9vw 10vw 4vw 7vw;
}
main section div ul li p{
	margin: 0vw 10vw 0vw 7vw;
	line-height: 25px;
	color: #404852;
}
main section div.divPrincipal{
	display: flex;
}
main section div.divPrincipal img{
	margin: 1.5vw 1vw 0vw 7vw;
}
main section div.divPrincipal div.divSecundaria{
	margin: 2vw 0vw 0vw 0vw;
	font-size: 10px;
}
main section div.divPrincipal div.divSecundaria p.p1{
	color: #2C3A4B;
	padding: 10px 0 0 0;
}


/*======================================================================
                                Main - Parte 2
========================================================================*/
section div.divPrincipalBrowse div h2{
	font-size: 50px;
	margin: 4vw 2vw 0 0;
	line-height: 55px;
}
section div.divPrincipalBrowse div p{
	margin: 2vw 10vw 0 0;
	color: #404852;
	line-height: 25px;
}
section div.divPrincipalBrowse{
	display: flex;
}
section div.divPrincipalBrowse div ul li h3{
	font-size: 30px;
	/* margin: 3vw 10vw 0 0vw; */
}

section div.divPrincipalBrowse div ul li h3.primeiroH3{
	margin: 4.5vw 0 0 0 ;
}
section div.divPrincipalBrowse div ul li h3 span{
	color: #404852;
	font-size: 23px;
	margin: 0 1vw 0 0;
}
section div.divPrincipalBrowse div ul li p{
	margin: 1vw 2vw 3vw 3vw;
	font-size: 15px;
}
section div.info{
	width: 50%;
}
/*======================================================================
                                Footer
========================================================================*/
footer nav ul{
	display: flex;
	margin: 4vw 0 1.2vw 0;
	justify-content: center;
}
footer{
	text-align: center;
}
footer nav ul li a span{
	padding: 10px;
	color: #21243D;
	font-size: 1.5rem;
}
footer p{
	font-size: 10px;
}
